.list-item {
  margin-bottom: 10px;
}

.list-img {
  max-width: 135px;
  margin-right: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #2f3542;
}
