.thought-container {
  background-color: #f1f2f6;
  padding: 10px;
  margin-top: 2%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.thought-container h1 {
  text-align: center;
  color: #ab1fab;
  margin-bottom: 15px;
}

.thought-container h4 {
  text-align: center;
  padding: 0 0 20px 0;
}
