.title {
  color: white;
  font-size: 7em;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin: 0.3em auto;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 2px #ab1fab;
  width: fit-content;
  border-bottom: 0.1em solid white;
  box-shadow: 0 2px 0 #ab1fab;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  z-index: -1;
}

.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.placeholder {
  height: 25%;
}
