.search-header {
  text-align: center;
  color: #f1f2f6;
  margin: 2% 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
