/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("cool-background.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 95%;
  max-width: 1000px;
  min-height: 100vh;
  color: #2f3542;
}
